/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background: black;
    overflow: hidden;
}

/* HERO */
.hero {
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle at center, #0f172a, black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* DARK OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0,0,0,0.9));
}

/* CONTENT */
.content {
    position: relative;
    text-align: center;
    z-index: 2;
}

/* 🔥 LOGO */
.logo {
    font-size: 64px;
    font-weight: bold;
    color: #FFD000;
    text-shadow:
        0 0 8px #FFD000,
        0 0 20px #FF6A00,
        0 0 40px #FF0000;
    position: relative;
    overflow: visible; /* important */
}
/* 🔫 BULLET */
.bullet {
    position: absolute;
    top: 50%;
    left: -200px;
    width: 60px;
    height: 12px;
    background: linear-gradient(90deg, #999, #fff);
    border-radius: 50px;
    transform: translateY(-50%);
    animation: shoot 1.2s linear infinite;
}

/* Bullet head */
.bullet::before {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 20px;
    height: 12px;
    background: gold;
    border-radius: 50%;
}

/* Bullet trail (fire) */
.bullet::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 2px;
    width: 40px;
    height: 8px;
    background: linear-gradient(90deg, red, orange, transparent);
    filter: blur(2px);
}

/*Logo after */
.logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -100%;
    width: 200%;
    height: 3px;
    background: linear-gradient(90deg, yellow, red, transparent);
    opacity: 0.8;
    animation: cut 1.2s linear infinite;
}


/* TAGLINE */
.tagline {
    margin-top: 20px;
    font-size: 18px;
    color: #ccc;
}

/* BUTTON */
.play-btn {
    margin-top: 40px;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #FF6A00, #FFD000);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px #FF6A00;
    transition: 0.3s;
}

.play-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px #FF6A00;
}

/* ANIMATIONS */
@keyframes shoot {
    0% { left: -200px; }
    100% { left: 120%; }
}

@keyframes cut {
    0% { left: -100%; opacity: 0; }
    30% { opacity: 1; }
    100% { left: 100%; opacity: 0; }
}
